/*Level 5.2 Links*/

a {
    color:#f8ea08;
    text-decoration: none;
}

#fragment1{
    position: absolute;
    color: white;
    left: 4015px;
}

#fragment2{
    position: absolute;
    color: white;
    left: 5965px;  
}

#fragment3{
    position: absolute;
    color: white;
    left: 8200px;  
}

#fragment4{
    position: absolute;
    color: white;
    left: 10455px;  
}

#fragment5{
    position: absolute;
    color: white;
    left: 11910px;  
}

#fragment6{
    position: absolute;
    color: white;
    left: 13920px;  
}

#fragment7{
    position: absolute;
    color: white;
    left: 16200px;  
}

#fragment8{
    position: absolute;
    color: white;
    left: 18190px;  
}

#fragment9{
    position: absolute;
    color: white;
    left: 20215px;  
}

#fragment10{
    position: absolute;
    color: white;
    left: 21990px;  
}

#fragment11{
    position: absolute;
    color: white;
    left: 23915px;  
}






